.input {
  padding: 16px 10px;
  width: 70%;
  border-radius: 8px;
  border: 1px solid var(--select-button);
  background-color: transparent;
  color: white;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}

@media (max-width: 1040px) {
  .input {
    display: none;
  }
}