.input  {
  padding: 16px 10px;
    border-radius: 8px;
    border: 1px solid var(--select-button);
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
}