.habit {
  position: relative;
  width: 64px;
  height: 64px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  .remove {
    cursor: pointer;
    position: absolute;
    color: rgb(205, 36, 36);
    font-size: 18px;
    font-family: "Roboto Mono", sans-serif;
    right: 8px;
    top: 0;
  }
}
